<div class="container">
    <div class="row">
        <form nz-form [formGroup]="OrderForm" class="login-form" nzLayout="vertical" class="w-100">

            <nz-form-item>
                <nz-form-label nzRequired nzFor="title">Order Name:</nz-form-label>
                <nz-form-control nzErrorTip="Please enter order name !">
                    <input nz-input formControlName="title" id="title" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="type">Type:</nz-form-label>
                <nz-form-control nzErrorTip="Please enter order item !">
                    <nz-select formControlName="type">
                        <nz-option nzValue="origin" nzLabel="Origin" ></nz-option>
                        <nz-option nzValue="child" nzLabel="Child"></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf='OrderForm.get("type").value == "child"'>
                <nz-form-label nzRequired nzFor="parent_key">Parent Item:</nz-form-label>
                <nz-form-control nzErrorTip="Please enter order item !">
                    <nz-select formControlName="parent_key">
                        <nz-option *ngFor="let node of items" [nzValue]="node.key" [nzLabel]="node.title" ></nz-option>
                      </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="link">Order Link:</nz-form-label>
                <nz-form-control nzErrorTip="Please enter order link !">
                    <input nz-input formControlName="link" id="link" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm(OrderForm.value)" [nzLoading]="isConfirmLoading">Apply</button>
</div>